.projectsEntry {
   background: rgb(223, 230, 225, 0.7);
   transition: var(--transition);
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.projectsEntry:hover {
   background: rgba(251, 252, 252, 0.9);
   cursor: pointer;
   transform: scale(1.1);
}

.projectsEntry > h3 {
   color: rgb(26, 85, 92);
   margin: 1rem 1.2rem 0 1.2rem;
   font-size: 1.4rem;
   line-height: 1.6rem;
   font-size: large;
}

.projectsEntry__keywords-container {
   padding-left: 1.2rem;
   padding-bottom: 1rem;
}

.projectsEntry__keyWords {
   margin-right: 0.1rem;
   color: var(--color-dark);
   font-size: medium;
   padding: 0.1rem;
}
