/* =============== PROJECT OVERVIEW===============*/

.projects__container {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   gap: 2.5rem;
}

.projects__item {
   background: var(--color-primary);
   border-radius: 0.3rem;
   transition: var(--transition);
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.projects__item > h3 {
   color: var(--color-bg);
}

.projects__item:hover {
   border-color: var(--color-primary-variant);
   cursor: pointer;
   transform: scale(1.1);
}

.projects__item-image {
   border-top-left-radius: 0.3rem 0.3rem;
   border-top-right-radius: 0.3rem 0.3rem;
   overflow: hidden;
}

.projects__item h3 {
   margin: 1rem 1.2rem 0 1.2rem;
   font-size: 1.4rem;
   line-height: 1.6rem;
   font-size: large;
}

.__projects__keywords-container {
   padding-left: 1.2rem;
   padding-bottom: 1rem;
}

.projects__keyWords {
   margin-right: 0.3rem;
   color: var(--color-bg);
   font-size: medium;
   border-radius: 0.2rem;
   padding: 0.1rem;
}

/* =============== PROJECT MODAL===============*/

.ReactModal__Html--open,
.ReactModal__Body--open {
   overflow: hidden;
}
.ReactModal__Overlay {
   position: fixed;
   z-index: 999999;
   top: 0;
   left: 0;
   width: 100vw;
   height: 100vh;
   background: rgba(0, 0, 0, 0.5);
   display: flex;
   align-items: center;
   justify-content: center;
}

.ReactModal__Content {
   background: transparent;
   border-radius: 0.3rem;
   width: 50rem;
   max-width: calc(100vw - 2rem);
   max-height: calc(100vh - 2rem);
   box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.25);
   -webkit-transform: scale(0.8);
   transform: scale(0.8);
   overflow-y: auto;
}

.ReactModal__Content--after-open {
   -webkit-transform: scale(1);
   transform: scale(1);
   transition: var(--transition);
}

.ReactModal__Content--before-close {
   -webkit-transform: scale(0.8);
   transform: scale(0.8);
   transition: var(--transition);
}

/* =============== PROJECT DETAILS===============*/

.project__details {
   height: 100%;
   background: var(--color-primary);
   border-radius: 0.3rem;
   border: 1px solid transparent;
   transition: var(--transition);
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.project__info {
   width: 100%;
   display: grid;
   grid-template-columns: 1fr;
   padding: 2rem 2rem;
   gap: 1rem;
   color: black;
}

.project__picture {
   width: 100%;
   border-radius: 0.3rem;
}

.project__picture > img {
   border-radius: 0.3rem;
   width: 60%;
   display: block;
   margin-left: auto;
   margin-right: auto;
}

.project__wrapper {
   display: flex;
   gap: 1.5rem;
   justify-content: center;
   width: 100%;
}

.project__wrapper > h3 {
   color: var(--color-bg);
   font-size: 3vh;
   margin-top: 0.4rem;
}

.project__links {
   display: flex;
   gap: 1rem;
   padding-bottom: 1rem;
}

.project__desription {
   text-align: justify;
}

.project__close {
   position: absolute;
   top: 0;
   right: 0;
   cursor: pointer;
   font-size: 30px;
   color: var(--color-bg);
   padding: 0.5rem 0.5rem;
}

.project__close:hover {
   transform: scale(1.1);
}

/* =============== MEDIA QUERIES, MEDIUM DEVICES) ===============*/

@media screen and (max-width: 1024px) {
   .projects__container {
      grid-template-columns: 1fr 1fr;
      gap: 1.2rem;
   }

   .project__wrapper > h3 {
      font-size: large;
   }

   .project__picture > img {
      width: 100%;
   }
}

/* =============== MEDIA QUERIES, SMALL DEVICES) ===============*/

@media screen and (max-width: 600px) {
   .projects__container {
      grid-template-columns: 1fr;
      gap: 1rem;
   }

   .project__close {
      font-size: 25px;
   }

   .project__wrapper {
      display: grid;
      grid-template-columns: 1fr;
   }
}
