.projects__container {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr; /*for no copy*/
   gap: 2.5rem;
}

.projects__item {
   background: var(--color-cards);
   padding: 1.2rem;
   border-radius: 0.6rem;
   border: 1px solid transparent;
   transition: var(--transition);
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.projects__item:hover {
   border-color: var(--color-primary-variant);
   cursor: pointer;
   transform: scale(1.05);
}

.projects__item-image {
   border-radius: 0.6rem;
   overflow: hidden;
}

.projects__item h3 {
   margin: 1rem 0 1rem;
}

.projects__item-links {
   display: flex;
   gap: 1rem;
}

/* =============== PROJECT DETAILS ===============*/

.project__details {
   height: 100%;
   background: var(--color-cards);
   padding: 1.2rem;
   border-radius: 0.6rem;
   border: 1px solid transparent;
   transition: var(--transition);
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   position: relative;
}

.project__close {
   position: absolute;
   top: 0;
   right: 0;
   padding: 0.5rem 0.9rem;
   cursor: pointer;
   font-size: 30px;
}

.project__info {
   width: 100%;
   display: grid;
   grid-template-columns: 1fr;
   padding: 2rem 2rem;
   gap: 1rem;
}

.project__details-links {
   display: flex;
   gap: 1rem;
}

.project__description > h3 {
   color: var(--color-primary);
}

.project__description > p {
   text-align: justify;
}

/* =============== MEDIA QUERIES, MEDIUM DEVICES) ===============*/

@media screen and (max-width: 1024px) {
   .projects__container {
      grid-template-columns: 1fr 1fr;
      gap: 1.2rem;
   }
}

/* =============== MEDIA QUERIES, SMALL DEVICES) ===============*/

@media screen and (max-width: 600px) {
   .projects__container {
      grid-template-columns: 1fr;
      gap: 1rem;
   }
}
