.projectsEntry {
   border-radius: 0.6rem;
   background: rgba(255, 255, 255, 0.8);
   transition: var(--transition);
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.projectsEntry:hover {
   cursor: pointer;
   transform: translateY(-0.5rem);
}

.projectsEntry > img {
   border-radius: 0.5rem 0.5rem 0rem 0rem;
}

.projectsEntry > h3 {
   color: rgb(4, 32, 54);
   margin: 1rem 1.2rem 0 1.2rem;
   font-size: 1.4rem;
   line-height: 1.6rem;
   font-size: large;
}

.projectsEntry__keywords-container {
   padding-left: 1.2rem;
   padding-bottom: 1rem;
}

.projectsEntry__keyWords {
   margin-right: 0.1rem;
   color: rgb(35, 126, 146);
   font-size: medium;
   padding: 0.1rem;
}

/* =============== MEDIUM DEVICES ===============*/

@media screen and (max-width: 1024px) {
   .projectsEntry:hover {
      transform: scale(1);
      background: rgba(77, 77, 82, 0.8);
   }
}
