/* =============== MY CLASSES ===============*/

.projectDetails__container {
   padding-top: 3rem;
   padding-bottom: 3rem;
}

.projectDetails__details {
   height: 100%;
   display: grid;
   grid-template-columns: 1fr;
   padding-top: 4rem;
   gap: 1rem;
   color: rgb(201, 192, 209);
   overflow-y: auto;
}

.projectDetails__BackIcon {
   font-size: 2.5rem;
   margin-top: 0.5rem;
   color: rgb(201, 192, 209);
}

.projectDetails__BackIcon:hover {
   scale: 1.1;
   color: white;
}

.projectDetails__img {
   width: 50%;
   display: block;
   margin-left: auto;
   margin-right: auto;
   border: 0.15rem solid rgb(153, 120, 136);
   border-radius: 0.7rem;
}

.projectDetails__title-links {
   display: flex;
   gap: 1.5rem;
   justify-content: center;
   width: 100%;
   align-items: center;
}

.projectDetails__title-links > h3 {
   color: rgb(153, 120, 136);
   font-size: 2rem;
}

.projectDetails__links {
   display: flex;
   gap: 1rem;
}

.projectDetails__description {
   text-align: justify;
   font-size: 1.1rem;
}

/* =============== MEDIUM DEVICES ===============*/

@media screen and (max-width: 1024px) {
   .projectDetails__title-links > h3 {
      font-size: x-large;
   }

   .projectDetails__img {
      width: 80%;
   }
}

/* =============== SMALL DEVICES ===============*/

@media screen and (max-width: 600px) {
   .projectDetails__title-links {
      display: grid;
      grid-template-columns: 1fr;
      gap: 0.5rem;
   }

   .projectDetails__BackIcon {
      font-size: 2rem;
      margin-top: 0.5rem;
      color: rgb(201, 192, 209);
   }

   .projectDetails__img {
      width: 100%;
   }

   .projectDetails__description {
      font-size: 15px;
      text-align: justify;
   }
   .projectDetails__details {
      padding-bottom: 0rem;
      padding-left: 0rem;
      padding-right: 0rem;
      padding-top: 1rem;
   }
}
