/* =============== PROJECT OVERVIEW===============*/

.projects__container {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   gap: 2.5rem;
   color: var(--color-primary);
}

.projects__item {
   background: #87a984;
   border-radius: 0.6rem;
   transition: var(--transition);
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.projects__item:hover {
   border-color: var(--color-primary-variant);
   cursor: pointer;
   transform: scale(1.1);
}

.projects__item-image {
   border-top-left-radius: 0.6em 0.6em;
   border-top-right-radius: 0.6em 0.6em;
   overflow: hidden;
}

.projects__item h3 {
   margin: 1rem 1.2rem 0 1.2rem;
   font-family: 'Test';
}

.projects__shortDesription {
   color: var(--color-bg);
   margin: 0 1.2rem 1rem 1.2rem;
}

.__projects__keywords-container {
   padding-left: 1.2rem;
}

.projects__keyWords {
   color: var(--color-ivory);
   font-size: 20;
   margin-right: 0.3rem;
}

/* =============== PROJECT MODAL===============*/

.ReactModal__Html--open,
.ReactModal__Body--open {
   overflow: hidden;
}
.ReactModal__Overlay {
   position: fixed;
   z-index: 999999;
   top: 0;
   left: 0;
   width: 100vw;
   height: 100vh;
   background: rgba(0, 0, 0, 0.5);
   display: flex;
   align-items: center;
   justify-content: center;
}

.ReactModal__Content {
   background: transparent;
   border-radius: 0.6rem;
   width: 50rem;
   max-width: calc(100vw - 2rem);
   max-height: calc(100vh - 2rem);
   box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.25);
   overflow-y: auto;
   position: relative;
   -webkit-transform: scale(0.8);
   transform: scale(0.8);
}

.ReactModal__Content--after-open {
   -webkit-transform: scale(1);
   transform: scale(1);
   transition: var(--transition);
}

.ReactModal__Content--before-close {
   -webkit-transform: scale(0.8);
   transform: scale(0.8);
   transition: var(--transition);
}

/* =============== PROJECT DETAILS===============*/

.project__details {
   height: 100%;
   background: #87a984;
   padding: 1.2rem;
   border-radius: 0.6rem;
   border: 1px solid transparent;
   transition: var(--transition);
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   position: relative;
}

.project__close {
   position: absolute;
   top: 0;
   right: 0;
   padding: 0.5rem 0.9rem;
   cursor: pointer;
   font-size: 30px;
}

.project__close:hover {
   transform: scale(1.1);
}

.project__info {
   width: 100%;
   display: grid;
   grid-template-columns: 1fr;
   padding: 2rem 2rem;
   gap: 1rem;
   color: black;
}

.project__pictures {
   width: 100%;
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 2rem;
}

.project__pictures img {
   border-radius: 0.6rem;
}

.project__details-links {
   display: flex;
   gap: 1rem;
}

.project__description > h3 {
   color: var(--color-primary);
}

.project__description > p {
   text-align: justify;
}

/* =============== MEDIA QUERIES, MEDIUM DEVICES) ===============*/

@media screen and (max-width: 1024px) {
   .projects__container {
      grid-template-columns: 1fr 1fr;
      gap: 1.2rem;
   }
}

/* =============== MEDIA QUERIES, SMALL DEVICES) ===============*/

@media screen and (max-width: 600px) {
   .projects__container {
      grid-template-columns: 1fr;
      gap: 1rem;
   }
   .project__pictures {
      grid-template-columns: 1fr;
   }
   .project__image2 {
      display: none;
   }
}
