.pageNotFoundContainer {
   padding-top: 3rem;
   padding-bottom: 3rem;
   overflow: hidden;
   width: 100vw;
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
}

.pageNotFoundContent {
   color: rgb(201, 192, 209);
   font-size: large;
}

.homePageLink {
   color: rgb(153, 120, 136);
   text-decoration: underline;
}
