.about__container {
   display: grid;
   grid-template-columns: 35% 60%;
   text-align: center;
   gap: 5%;
}

.about__me {
   width: 100%;
   aspect-ratio: 1/1;
   border-radius: 58% 42% 55% 45% / 71% 74% 26% 29%;
   display: grid;
   background: var(--color-cards);
   place-items: center;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   padding-left: 1rem;
}

.about__me img {
   width: 80%;
   background: var(--color-primary);
   border-radius: 58% 42% 55% 45% / 71% 74% 26% 29%;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.about__content {
   width: 100%;
   text-align: left;
}

.about__content p {
   margin: 2rem 0 1.5rem;
   color: var(--color-ivory);
}

.about__description {
   text-align: justify;
}
/* =============== MEDIA QUERIES, MEDIUM DEVICES) ===============*/

@media screen and (max-width: 1024px) {
   .about__container {
      grid-template-columns: 1fr;
      gap: 0;
   }

   .about__me {
      width: 50%;
      margin: 0rem auto;
   }
   .about__content {
      text-align: center;
   }

   .about__content p {
      margin: 1.5rem 0;
   }
}

/* =============== MEDIA QUERIES, SMALL DEVICES) ===============*/

@media screen and (max-width: 600px) {
   .about__me {
      width: 65%;
   }
}
