.about__container {
   display: grid;
   grid-template-columns: 32% 66%;
   gap: 0.5%;
}

.about__image-container {
   width: 75%;
   aspect-ratio: 1/1;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   position: relative;
}

.about__image-container > img {
   border-radius: 0.5rem;
}

.about__content {
   width: 100%;
   margin-top: 0.5rem;
}

.about__content p {
   margin: 0 0 1.5rem;
   text-align: justify;
   color: rgb(4, 32, 54);
}

/* =============== MEDIUM DEVICES ===============*/

@media screen and (max-width: 1024px) {
   .about__container {
      grid-template-columns: 1fr;
      gap: 0;
   }

   .about__image-container {
      width: 40%;
      margin: 0rem auto;
   }
   .about__content {
      text-align: center;
   }

   .about__content p {
      margin: 1.5rem 0;
   }
}

/* =============== SMALL DEVICES ===============*/

@media screen and (max-width: 600px) {
   .about__image-container {
      width: 65%;
   }
}
