#contact {
   margin-top: 3.5rem;
   background: rgb(255, 255, 255);
   box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 8px;
}
.contact__container {
   display: grid;
   grid-template-columns: 1fr 0.5fr 1fr;
   gap: 5%;
}

.contact__option {
   background: transparent;
   text-align: center;
}

.contact__option a {
   display: inline-block;
   font-size: 0.8rem;
   color: rgb(4, 32, 54);
   font-size: medium;
}

.contact__option a:hover {
   display: inline-block;
   font-size: 0.8rem;
   color: rgb(2, 17, 29);
   font-size: medium;
}

.contact__option-icon {
   font-size: 1.5rem;
   margin-bottom: 0.2rem;
   color: rgb(35, 126, 146);
}

.contact__option-icon:hover {
   color: rgb(25, 91, 105);
}

/* =============== SMALL DEVICES ===============*/

@media screen and (max-width: 600px) {
   .contact__container {
      gap: 2rem;
      grid-template-columns: 1fr;
   }
}
