#contact {
   margin-top: 3.5rem;
   box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 8px;
   margin-bottom: 4rem;
}
.contact__container {
   display: grid;
   grid-template-columns: 1fr 0.5fr 1fr;
   gap: 5%;
}

.contact__option {
   background: transparent;
   text-align: center;
}

.contact__option a {
   display: inline-block;
   font-size: 0.8rem;
   color: rgb(201, 192, 209);
   font-size: medium;
}

.contact__option a:hover {
   display: inline-block;
   font-size: 0.8rem;
   color: rgb(201, 192, 209);
   font-size: medium;
}

.contact__option-icon {
   font-size: 1.5rem;
   margin-bottom: 0.2rem;
   color: rgb(201, 192, 209);
}

.contact__option-icon:hover {
   color: rgb(201, 192, 209);
}

/* =============== SMALL DEVICES ===============*/

@media screen and (max-width: 600px) {
   .contact__container {
      gap: 2rem;
      grid-template-columns: 1fr;
   }
}
