#contact {
   margin-top: 3.5rem;
   background: rgb(136, 152, 139);
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.container.contact__container {
   width: 58%;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   gap: 12%;
   padding-bottom: 2rem;
}

.contact__options {
   display: flex;
   flex-direction: row;
   gap: 1.2rem;
}

.contact__option {
   background: transparent;
   text-align: center;
   transition: var(--transition);
}

.contact__option-icon {
   font-size: 1.5rem;
   margin-bottom: 0.5rem;
   color: rgb(208, 227, 212);
}

.contact__option a {
   display: inline-block;
   font-size: 0.8rem;
   color: rgb(208, 227, 212);
   font-size: medium;
}

.contact__option a:hover {
   transform: scale(1.05);
}

/* =============== MEDIA QUERIES, MEDIUM DEVICES) ===============*/

@media screen and (max-width: 1024px) {
   .container.contact__container {
      width: var(--container-width-md);
      gap: 2rem;
   }
}

/* =============== MEDIA QUERIES, SMALL DEVICES) ===============*/

@media screen and (max-width: 600px) {
   .container.contact__container {
      width: var(--container-width-sm);
      gap: 2rem;
      grid-template-columns: 1fr;
   }
}
