header {
   overflow: hidden;
   padding-top: 7.5rem;
   padding-bottom: 3.5rem;
   height: 100vh;
}

.header__container {
   display: flex;
   flex-direction: column;
   height: 100%;
   justify-content: center;
   align-items: center;
   font-size: larger;
   position: relative;
}

.header__container > h1 {
   position: relative;
   font-family: 'Header';
}

.header__title-first {
   color: rgb(209, 136, 196);
   font-size: 17vw;
   line-height: 17vw;
   margin-right: 7vw;
   -webkit-filter: drop-shadow(2px 2px rgba(0, 0, 0, 0.3));
   filter: drop-shadow(2px 2px rgba(0, 0, 0, 0.3));
}

.header__title-last {
   color: rgb(209, 136, 196);
   font-size: 11.5vw;
   line-height: 11.5vw;
   padding-bottom: 1rem;
   margin-left: 7vw;
   -webkit-filter: drop-shadow(2px 2px rgba(0, 0, 0, 0.3));
   filter: drop-shadow(2px 2px rgba(0, 0, 0, 0.3));
}

.header__subtitle {
   font-family: 'Cursive';
   color: rgb(219, 219, 206);
}

/* =============== MEDIUM DEVICES) ===============*/

@media screen and (max-width: 1024px) {
   .header__title-first {
      font-size: 27vw;
      line-height: 27vw;
      margin-right: 0;
   }

   .header__title-last {
      font-size: 17vw;
      line-height: 17vw;
      margin-left: 0;
   }
}

/* =============== SMALL DEVICES) ===============*/
@media screen and (max-width: 600px) {
   .header__subtitle {
      font-size: small;
   }

   header {
      background-image: url(/src/assets/pictures/Background2.png);
      background-size: cover;
   }
}
