@import url('https://fonts.googleapis.com/css?family=Monoton');

header {
   overflow: hidden;
   padding-top: 9rem;
}

.header__container {
   display: flex;
   flex-direction: column;
   height: 100%;
   justify-content: center;
   align-items: center;
}

.header__container > h1 {
   color: var(--color-primary);
}

@supports (-webkit-background-clip: text) {
   .header__container > h1 {
      color: transparent;
      -webkit-background-clip: text;
      background-clip: text;
   }
}

.header__title-first {
   background: linear-gradient(
      7deg,
      var(--color-ivory) 40%,
      var(--color-primary) 0
   );
   font-size: 20vw;
   line-height: 20vw;
}

.header__title-last {
   background: linear-gradient(
      7deg,
      var(--color-ivory) 40%,
      var(--color-primary-variant) 0
   );
   font-size: 13vw;
   line-height: 13vw;
}

.header__description {
   padding-top: 1.5rem;
   color: var(--color-light);
}

/* =============== MEDIA QUERIES, MEDIUM DEVICES) ===============*/

@media screen and (max-width: 1024px) {
   .header__title-first {
      font-size: 25vw;
      line-height: 25vw;
   }

   .header__title-last {
      font-size: 16vw;
      line-height: 16vw;
   }
}
