header {
   overflow: hidden;
   padding-top: 8rem;
}

.header__container {
   display: flex;
   flex-direction: column;
   height: 100%;
   justify-content: center;
   align-items: center;
   font-size: larger;
}

.header__container-hello {
   font-family: 'Test';
   padding: 0.1rem 3rem;
   background-color: var(--color-yellow);
   color: var(--color-orange);
   -webkit-transform: skewY(-5deg);
   -moz-transform: skewY(-5deg);
   -ms-transform: skewY(-5deg);
   -o-transform: skewY(-5deg);
   transform: skewY(-5deg);
}

.header__container > h1 {
   color: var(--color-primary);
}

@supports (-webkit-background-clip: text) {
   .header__container > h1 {
      color: transparent;
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-filter: drop-shadow(10px 10px rgba(182, 87, 19, 1));
      filter: drop-shadow(10px 10px rgba(182, 87, 19, 1));
   }
}

.header__title-first {
   background: linear-gradient(
      7deg,
      var(--color-ivory) 0%,
      var(--color-primary) 80%,
      var(--color-primary-variant) 100%
   );
   font-size: 20vw;
   line-height: 20vw;
}

.header__title-last {
   background: linear-gradient(
      7deg,
      var(--color-ivory) 0%,
      var(--color-primary) 80%,
      var(--color-primary-variant) 100%
   );
   font-size: 13vw;
   line-height: 13vw;
}

.header__description {
   padding-top: 2rem;
}

/* =============== MEDIA QUERIES, MEDIUM DEVICES) ===============*/

@media screen and (max-width: 1024px) {
   .header__title-first {
      font-size: 25vw;
      line-height: 25vw;
   }

   .header__title-last {
      font-size: 16vw;
      line-height: 16vw;
   }
}
