nav {
   background: var(--color-primary);
   width: 100%;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
   z-index: 2;
   position: fixed;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

nav a {
   background: transparent;
   padding: 0.8rem 0.8rem 0.8rem 0.8rem;
   color: var(--color-bg);
   font-size: 1.2rem;
   text-align: center;
}

nav a:hover {
   background: var(--color-orange);
}

nav a:active {
   background: var(--color-orange);
   color: var(--color-ivory);
}

.nav__icon {
   margin-top: 0.5rem;
}
/* =============== MEDIA QUERIES, MEDIUM DEVICES) ===============*/

@media screen and (max-width: 1024px) {
   .container {
      width: var(--container-width-md);
   }
}

/* =============== MEDIA QUERIES, SMALL DEVICES) ===============*/
@media screen and (max-width: 600px) {
   .container {
      width: var(--container-width-sm);
   }
}
