nav {
   background: linear-gradient(
      120deg,
      var(--color-ivory) 0%,
      var(--color-primary) 100%
   );
   width: 100%;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
   z-index: 2;
   position: fixed;
   gap: 0.5rem;
}

nav a {
   background: transparent;
   padding: 0.8rem 0.8rem 0.8rem 0.8rem;
   color: var(--color-bg);
   font-size: 1.2rem;
   text-align: center;
}

nav a:hover {
   background: rgba(0, 0, 0, 0.3);
}

nav a:active {
   background: red;
   color: var(--color-ivory);
}

.nav__icon {
   margin-top: 0.37rem;
}
/* =============== MEDIA QUERIES, MEDIUM DEVICES) ===============*/

@media screen and (max-width: 1024px) {
   .container {
      width: var(--container-width-md);
   }
}

/* =============== MEDIA QUERIES, SMALL DEVICES) ===============*/
@media screen and (max-width: 600px) {
   .container {
      width: var(--container-width-sm);
   }
}
