nav {
   background: rgba(0, 0, 0, 0.3);
   width: max-content;
   display: block;
   z-index: 2;
   position: fixed;
   left: 50%;
   transform: translateX(-50%);
   top: 2rem;
   display: flex;
   gap: 0.5rem;
   /*border-radius: 1rem;*/
   backdrop-filter: blur(15px);
}

nav a {
   background: transparent;
   padding: 0.8rem 0.8rem 0.8rem 0.8rem;
   /*border-radius: 50%;*/
   color: var(--color-light);
   font-size: 1rem;
}

nav a:hover {
   background: rgba(0, 0, 0, 0.3);
}

nav a:active {
   background: red;
   color: var(--color-ivory);
}

.nav__icon {
   margin-top: 0.37rem;
}
/* =============== MEDIA QUERIES, MEDIUM DEVICES) ===============*/

@media screen and (max-width: 1024px) {
   .container {
      width: var(--container-width-md);
   }
}

/* =============== MEDIA QUERIES, SMALL DEVICES) ===============*/
@media screen and (max-width: 600px) {
   .container {
      width: var(--container-width-sm);
   }
}
