@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;700&family=Lato:ital,wght@0,400;0,900;1,100&display=swap');
@font-face {
   font-family: 'Cursive';
   src: local('cursive'),
      url('./assets/fonts/Courgette-Regular.ttf') format('truetype');
}
@font-face {
   font-family: 'Header';
   src: local('header'),
      url('./assets/fonts/Boiling-BlackDemo.ttf') format('truetype');
}

* {
   border: 0;
   outline: 0;
   margin: 0;
   box-sizing: border-box;
   list-style: none;
   text-decoration: none;
}

html {
   --color-dark: #23281f;
   --color-ivory: #f5f7ed;
   --transition: all 400ms ease;

   --container-width-large: 75%;
   --container-width-medium: 85%;
   --container-width-small: 90%;

   scroll-behavior: smooth;
}

::-webkit-scrollbar {
   display: none;
}

body {
   font-family: 'Lato', sans-serif;
   background: rgb(46, 47, 52);
   background-image: url(/src/assets/pictures/Untitled_Artwork\ 28.png),
      url(/src/assets/pictures/Untitled_Artwork\ 29.png);
   background-repeat: no-repeat, repeat;
   background-size: 100%;
   line-height: 1.7;
}

.container {
   width: var(--container-width-large);
   margin: 0 auto;
}

header {
   animation: fadeIn 3s;
   -webkit-animation: fadeIn 3s;
   -moz-animation: fadeIn 3s;
   -o-animation: fadeIn 3s;
   -ms-animation: fadeIn 3s;
}

section {
   padding-top: 3.5rem;
   padding-bottom: 3.5rem;
   scroll-margin-top: 3.5rem;
}

section > h2 {
   font-size: 2rem;
   text-align: center;
   color: #815697;
   margin-bottom: 1.5rem;
   -webkit-filter: drop-shadow(0.5px 0.5px rgba(0, 0, 0, 0.3));
   filter: drop-shadow(0.5px 0.5px rgba(0, 0, 0, 0.3));
}

img {
   width: 100%;
   display: block;
   object-fit: cover;
}

.btn {
   display: inline-block;
   width: max-content;
   background: #815697;
   color: rgb(212, 212, 199);
   padding: 0.75rem 0.75rem;
   border-radius: 0.3rem;
   transition: var(--transition);
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.btn:hover {
   transform: scale(1.05);
   background: #d6e3d8;
   color: var(--color-dark);
}

a {
   transition: var(--transition);
}

a:hover {
   color: var(--color-ivory);
}

@keyframes fadeIn {
   0% {
      opacity: 0;
   }
   100% {
      opacity: 1;
   }
}

@-moz-keyframes fadeIn {
   0% {
      opacity: 0;
   }
   100% {
      opacity: 1;
   }
}

@-webkit-keyframes fadeIn {
   0% {
      opacity: 0;
   }
   100% {
      opacity: 1;
   }
}

@-o-keyframes fadeIn {
   0% {
      opacity: 0;
   }
   100% {
      opacity: 1;
   }
}

@-ms-keyframes fadeIn {
   0% {
      opacity: 0;
   }
   100% {
      opacity: 1;
   }
}

/* ===============  MEDIUM DEVICES) ===============*/

@media screen and (max-width: 1024px) {
   .container {
      width: var(--container-width-medium);
   }
}

/* =============== SMALL DEVICES) ===============*/
@media screen and (max-width: 600px) {
   .container {
      width: var(--container-width-small);
   }

   body {
      background-repeat: no-repeat;
   }
}
