@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;700&family=Lato:ital,wght@0,400;0,900;1,100&display=swap');

@font-face {
   font-family: 'Cursive';
   src: url('./assets/fonts/Courgette-Regular.eot');
   src: url('./assets/fonts/Courgette-Regular.woff') format('woff'),
      url('./assets/fonts/Courgette-Regular.ttf') format('truetype'),
      url('./assets/fonts/Courgette-Regular.svg#Cursive') format('svg');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'Header';
   src: url('./assets/fonts/Boiling-BlackDemo.eot');
   src: url('./assets/fonts/Boiling-BlackDemo.woff') format('woff'),
      url('./assets/fonts/Boiling-BlackDemo.ttf') format('truetype'),
      url('./assets/fonts/Boiling-BlackDemo.svg#Header') format('svg');
   font-weight: normal;
   font-style: normal;
}

* {
   border: 0;
   outline: 0;
   margin: 0;
   box-sizing: border-box;
   list-style: none;
   text-decoration: none;
}

html {
   --transition: all 400ms ease;
   --container-width-x-large: 60%;
   --container-width-large: 75%;
   --container-width-medium: 85%;
   --container-width-small: 90%;
   scroll-behavior: smooth;
}

body {
   font-family: 'Lato', sans-serif;
   background: rgb(255, 255, 255);
   background-image: url(/src/assets/pictures/background1.png),
      url(/src/assets/pictures/background2.png);
   background-repeat: no-repeat, repeat;
   background-size: 100%;
   line-height: 1.7;
   scroll-behavior: smooth;
}

::-webkit-scrollbar {
   display: none;
}

.container {
   width: var(--container-width-x-large);
   margin: 0 auto;
}

section {
   padding-top: 3.5rem;
   padding-bottom: 3.5rem;
   scroll-margin-top: 3.5rem;
}

section > h2 {
   font-size: 2rem;
   text-align: center;
   color: rgb(4, 32, 54);
   margin-bottom: 1.5rem;
   -webkit-filter: drop-shadow(0.5px 0.5px rgba(0, 0, 0, 0.3));
   filter: drop-shadow(0.5px 0.5px rgba(0, 0, 0, 0.3));
}

img {
   width: 100%;
   display: block;
   object-fit: cover;
}

.btn {
   display: inline-block;
   width: max-content;
   background: rgb(4, 32, 54);
   color: white;
   padding: 0.5rem 0.75rem;
   border-radius: 0.3rem;
   box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 8px;
}

.btn:hover {
   background: rgb(2, 14, 24);
}

.alternativeBtn {
   border: 0.08rem solid rgb(4, 32, 54);
   background: white;
   color: rgb(4, 32, 54);
}

.alternativeBtn:hover {
   background: rgb(240, 240, 240);
}

/* ===============  LARGE DEVICES ===============*/

@media screen and (max-width: 1600px) {
   .container {
      width: var(--container-width-large);
   }
}

/* ===============  MEDIUM DEVICES ===============*/

@media screen and (max-width: 1024px) {
   .container {
      width: var(--container-width-medium);
   }
}

/* =============== SMALL DEVICES ===============*/
@media screen and (max-width: 600px) {
   .container {
      width: var(--container-width-small);
   }
}
